<ng-container
  *ngTemplateOutlet="
    main;
    context: {
      isHandset: isHandset$ | async,
      loading: loading$ | async,
      expressions: expressions$ | async
    }
  "
></ng-container>
<ng-template #main let-isHandset="isHandset" let-loading="loading" let-expressions="expressions">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card [fxFlex]="100" *ngIf="!loading; else spinner">
      <mat-card-header>
        <mat-card-title fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="initial">Change Camera</div>
          <div fxFlex="auto"></div>
          <button mat-icon-button (click)="rotateVideoInput(true)">
            <mat-icon>switch_video</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item *ngFor="let expression of expressions" role="listitem">
            <button mat-raised-button color="accent" style="width: 100%;">
              {{ expression }}
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <video autoplay muted #video [fxFlex]="isHandset ? 100 : 50"></video>
      <div fxLayout="column" fxLayoutAlign="center center">
        <app-firestore [expressions$]="expressions$"></app-firestore>
        <app-datastore [expressions$]="expressions$"></app-datastore>
      </div>
    </div>

  </div>
</ng-template>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
