<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Happy
    </mat-card-title>
    <mat-card-content>
      {{happy}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Sad
    </mat-card-title>
    <mat-card-content>
    {{sad}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Neutral
    </mat-card-title>
    <mat-card-content>
      {{neutral}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Surprised
    </mat-card-title>
    <mat-card-content>
      {{surprised}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Angry
    </mat-card-title>
    <mat-card-content>
      {{angry}}
    </mat-card-content>
  </mat-card>
</div>
