<div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card fxFlex="50">
    <img mat-card-image [src]="data?.activity?.submitted?.downloadURL">
    <a [href]="data?.activity?.submitted?.downloadURL" target="_blank">Photo Link</a>

    <mat-card-title-group>
    <mat-card-title>
      {{data?.activity?.activity}}
    </mat-card-title>
    <mat-card-subtitle>
      Points: {{data?.activity?.points}}
    </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
