<ng-container *ngTemplateOutlet="
    main;
    context: {
      team: team$ | async,
      users: users$ | async,
      addMe: addMe$ | async,
      me: me$ | async
    }
  "></ng-container>
<ng-template #main let-team="team" let-users="users" let-addMe="addMe" let-me="me">
  <mat-toolbar>
    <h1>Team Name: {{team?.name}}</h1>
  </mat-toolbar>
  <div fxLayout="row wrap">
    <div *ngFor="let user$ of users">
      <mat-card *ngIf="user$ | async as user" fxFlex style="margin: 5px;">
        <mat-card-header>
          <img [src]="user?.photoURL" mat-card-avatar *ngIf="user?.photoURL; else avatar">
          <ng-template #avatar>
            <button disabled="true" mat-fab>{{getInitial(user?.displayName)}}</button>
          </ng-template>
          <mat-card-title>{{user?.displayName}}</mat-card-title>
          <mat-card-subtitle *ngIf="team?.createdBy == me?.uid">Team Captain</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end" *ngIf="user.uid === me?.uid && team?.createdBy != me.uid">
          <button mat-raised-button color="warn" (click)="removeUser()">Remove Me</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="addMe">
      <mat-card fxFlex style="margin: 5px;">
        <mat-card-header>
          <img [src]="me?.photoURL" mat-card-avatar *ngIf="me?.photoURL; else avatar">
          <ng-template #avatar>
            <button disabled="true" mat-fab>{{getInitial(me?.displayName)}}</button>
          </ng-template>
          <mat-card-title>{{me?.displayName}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" (click)="addUser()">Add Me</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlexFill>
    <app-activities [team]="team"></app-activities>
  </div>
</ng-template>
