<ng-container *ngTemplateOutlet="
    main;
    context: {
      teams: teams$ | async,
      myTeams: myTeams$ | async,
      user: user$ | async
    }
  "></ng-container>
<ng-template #main let-teams="teams" let-myTeams="myTeams" let-user="user">
  <!-- This is just a way to trigger activity loads for Alex -->
  <button mat-raised-button (click)="loadActivities()" *ngIf="user?.uid == 'I92Ve5kITrhebfo6w8VUJ7hYlxi2'">Load
    Activities</button>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>New Team</mat-label>
          <input matInput #team type="text">
        </mat-form-field>
        <a mat-raised-button (click)="addTeaam(team.value)">Add</a>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-tab-group>
    <mat-tab label="My Teams">
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="myTeams">
        <mat-card *ngFor="let team of myTeams" fxLayout="column" style="margin: 10px; width: 300px; height: 300px;overflow: hidden;">
          <mat-card-title-group>
          <mat-card-title [routerLink]="['/team', team.id]" style="cursor: pointer;">
            {{team?.name}}
          </mat-card-title>
          <mat-card-subtitle *ngIf="team?.totalPoints">
            Points: {{team?.totalPoints}}
          </mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content style="overflow-y: auto;">
            <app-team-users [team]="team" fxLayout="column" fxLayoutAlign="stretch"></app-team-users>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="All Teams">
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="teams">
        <mat-card *ngFor="let team of teams" fxLayout="column" style="margin: 10px; width: 300px; height: 300px;overflow: hidden;">
          <mat-card-title [routerLink]="['/team', team.id]" style="cursor: pointer;">
            {{team?.name}}
          </mat-card-title>
          <mat-card-content style="overflow-y: auto;">
            <app-team-users [team]="team"></app-team-users>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>


</ng-template>
