<ng-container *ngTemplateOutlet="
    main;
    context: {
      teams: teams$ | async,
      user: user$ | async
    }
  "></ng-container>
<ng-template #main let-teams="teams" let-user="user">
  <button mat-raised-button (click)="loadActivities()" *ngIf="user?.uid == 'I92Ve5kITrhebfo6w8VUJ7hYlxi2'">Load
    Activities</button>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>New Team</mat-label>
          <input matInput #team type="text">
        </mat-form-field>
        <a mat-raised-button (click)="addTeaam(team.value)">Add</a>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="teams">
    <mat-card *ngFor="let team of teams" style="margin: 10px; cursor: pointer;" [routerLink]="['/team', team.id]"
      routerLinkActive="router-link-active">
      <mat-card-title>
        {{team?.name | titlecase}}
      </mat-card-title>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

</ng-template>
